<% layout("/layouts/boilerplate.ejs") %>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-10">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Roll No</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">District</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Room</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobile No
                  </th>
                  <th class="text-secondary opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (students.length> 0) { %>
                  <% for (let student of students) { %>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="<%= student.image_url || '/img/default-avatar.png' %>"
                              class="avatar avatar-sm me-3" alt="<%= student.name %>">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">
                              <%= student.name %>
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <%= student.roll_no %>
                      </td>
                      <td>
                        <%= student.district %>
                      </td>
                      <td>
                        <%= student.room_no || "Not Assigned" %>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span
                          class="badge badge-sm <%= student.status === 'Online' ? 'bg-gradient-success' : 'bg-gradient-danger' %>">
                          <%= student.status || "Offline" %>
                        </span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">
                          <%= student.contact_no %>
                        </span>
                      </td>
                      <td class="align-middle">
                        <a href="/admin/billing/<%= student._id %>"
                          class=" btn btn-primary w-100  font-weight-bold text-xs" data-toggle="tooltip"
                          data-original-title="Edit user">
                          Payment
                        </a>
                      </td>
                    </tr>
                    <% } %>
                      <% } else { %>
                        <tr>
                          <td colspan="9" class="text-center text-secondary">No students found.</td>
                        </tr>
                        <% } %>
              </tbody>
            </table>


          </div>
        </div>
      </div>
      