<% layout("/layouts/boilerplate.ejs") %>


  <section class="py-10 bg-gray-100">
    <br><br>
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
        <div class="bg-white shadow-lg rounded-lg p-6">
          <h3 class="text-2xl font-semibold text-gray-800">Total student</h3>
           
          <a href="/enrollstudent"
          class="mt-4 inline-block bg-blue-500 text-white px-5 py-2 rounded-lg hover:bg-blue-600 transition duration-300"><%=count[0]%></a>
        </div>
        <% const features=["Dance", "Paiting" , "Physical Activity" ,"Singing","Yoga", "Zumba"]; %>
        <% let i = 1; %>
          <% features.forEach(function(style) { %>
            <div class="bg-white shadow-lg rounded-lg p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                <%= style %>
              </h3>

             <a href="/enrollstudent"
                class="mt-4 inline-block bg-blue-500 text-white px-5 py-2 rounded-lg hover:bg-blue-600 transition duration-300"><%=count[i++]%></a>
            </div>
            <% }); %>
      </div>
    </div>
    <br><br>
  </section>


  <table class="w-full min-w-full bg-white border border-gray-300 rounded-lg overflow-hidden">
    <thead class="bg-gray-200">
        <tr>
            <th class="py-3 px-4 border-b text-left">ID</th>
            <th class="py-3 px-4 border-b text-left">Student Name</th>
            <th class="py-3 px-4 border-b text-left">Parent Name</th>
            <th class="py-3 px-4 border-b text-left">Address</th>
          
            <th class="py-3 px-4 border-b text-left">Email</th>
            <th class="py-3 px-4 border-b text-left">Phone</th>
            <th class="py-3 px-4 border-b text-left">Action</th>
        </tr>
    </thead>
    <tbody>
        <% if (students.length > 0) { %>
            <% let count = 1; %>
            <% for (let student of students) { %>
                <tr class="border-b hover:bg-gray-100" style="text-transform: capitalize;">
                    <td class="py-3 px-4"><%= count++ %></td>
                    <td class="py-3 px-4"><%= student.studentName %></td>
                    <td class="py-3 px-4"><%= student.parentName %></td>
                    <td class="py-3 px-4"><%= student.address %></td>
                    
                    <td class="py-3 px-4"><%= student.email %></td>
                    <td class="py-3 px-4"><%= student.callingNumber %></td>
                    <td class="py-3 px-4 text-red-600 font-semibold">
                        | <a href="/admin/view/<%= student._id %>">View</a>
                    </td>
                </tr>
            <% } %>
        <% } else { %>
            <tr>
                <td colspan="8" class="text-center py-4">No data found</td>
            </tr>
        <% } %>
    </tbody>
     
</table>
<br><br>

  

 

  